.chatContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #e0e0e0;
  max-width: 1400px; /* 保证聊天界面始终保持有1000像素宽度 */
  margin: 0px auto; /* 动态调整左右内边距，上下内边距改成50 */
  padding: 20px; /* 增加内边距 */
}

.messagesContainer {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #fff; /* 设置背景色 */
  border-radius: 8px; /* 设置圆角 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 添加阴影 */
  margin-bottom: 8px; 
}

.inputContainer {
  display: flex;
  padding: 10px;
  background-color: #fff;
  border-top: 1px solid #ddd;
  border-radius: 8px; /* 设置圆角 */
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* 添加阴影 */
}

.input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
}

.sendButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.message {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  max-width: 60%;
}

.userMessage {
  background-color: #57a8ffb9;
  color: #fff;
  align-self: flex-end;
}

.aiMessage {
  background-color: #e5e5e5; 
  color: #2f2f2f;
  align-self: flex-start;
}

.systemMessage {
  background-color: #ffcccc; /* 红色背景 */
  color: #ff0000; /* 红色文字 */
  align-self: center;
}

/* 添加代码段的样式 */
.message pre {
  background-color: #2d2d2d;
  color: #f8f8f2;
  padding: 10px;
  border-radius: 4px;
  overflow-x: auto;
}

/* 添加token数显示的样式 */
.tokenCount {
  font-size: 0.8em;
  color: #888;
  margin-top: 5px;
}

/* 添加高亮显示的样式 */
.highlight {
  color: #007bff;
  background-color: #d3d3d3;
  padding: 0 4px;
  border-radius: 4px;
}
